<div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="text text-left">Copyrights &copy; All Rights Reserved</div>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="social-links text-right">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- scroll top -->
  <a class="scroll-top" href="javascript:void(0)"><i class="fa fa-angle-up"></i></a>
  <!-- scroll top end -->