<app-preloader></app-preloader>
<header class="main-header">
        <!-- Start Navigation -->
        <div id="masthead" class="site-header menu">
            <!-- .site-branding -->
            <div class="header-nav-search">
                
              <div id="main-navigation">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="#" class="padding-bottom: 20px">
                        <img src="assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
                      </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                     aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#" [routerLink]="['/navbar/home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"  [routerLink]="['/navbar/home']" routerLinkActive="active" >Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false" style="padding-bottom: 14px;padding-top: 14px">Jobs
                            </a>
                            <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555" style="margin-top: 6px">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li> -->
                      </ul>
                      <form class="form-inline ml-auto">
                          <div class="md-form my-0">
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                          </div>
                          <button href="#!" class="btn btn-outline-primary waves-effect btn-md my-0 ml-sm-2" type="submit">Search</button>
                        </form>
                      <li class="nav-item active">
                          <a class="nav-link waves-effect waves-light">1
                            <i class="fa fa fa-bell white-text fa-1x "></i>
                          </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link waves-effect waves-light">1
                              <i class="fa fa-envelope blue-text fa-1x" aria-hidden="true" ></i>
                            </a>
                          </li>
                          <a href="#">
                              <i class="fa fa-1x" aria-hidden="true"><label type for="">{{userDetails.fullName}}</label></i>
                            </a>
                      <li class="nav-item avatar dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="assets/img/logo.png" width="40" height="40" class="rounded-circle z-depth-0" 
                              alt="avatar image">
                          </a>                            
                          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"                          
                            aria-labelledby="navbarDropdownMenuLink-55">
                            <a class="dropdown-item" [routerLink]="['/navbar/home']" routerLinkActive="active">
                                <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                              </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                              </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                              </a>
                            <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" (click)="onLogout()">
                                <i class="fa fa-sm fa-fw mr-2 text-gray-400" ><fa-icon [icon]="faSignOutAlt"></fa-icon></i>
                                Logout
                              </a>
                            </div>
                      </li> 
                        
                    </div>
                  </nav>
              </div>
            </div>
        </div>
      </header>
      <div class="clearfix"></div>
      <router-outlet></router-outlet>
      <app-footer></app-footer>

      