.profile{
    /* height: 3000px; */
    position: relative;
    margin: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.card{
    margin: 20px 20px 20px 20px;
}
.form{
    width: fit-content;
    height: fit-content;
}
.card-content{
    max-width: 98%;
}