<div>
    <img  id="icon" src="/assets/img/login.png" alt="User Icon">
  </div>
  
  <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)" class="form1 container">
      <input type="text" #fullName="ngModel" [(ngModel)]="userService.selectedUser.fullName" name="fullName" placeholder="Full Name"
      required  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullName.valid }" class="form-control">
      <div *ngIf="signUpForm.submitted && !fullName.valid">
        <label class="validation-message">This field is required.</label>
      </div>
      <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
      required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }" class="form-control">
      <div *ngIf="signUpForm.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
      </div>
      <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
      minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }" class="form-control">
      <div *ngIf="signUpForm.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
      </div>
      <div class="submit-btn form-control bg-secondary" style="margin-bottom: 60px">
          <button type="submit" value="Sign Up" class="btn btn-primary btnSubmit form-control" style="margin-top: 40px">Sign Up</button>
      </div>
    </form>
    
    <!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
      Saved successfully
    </div>
    
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>